@font-face {
  font-family: "Graphik";
  src: url(fonts/Graphik-Regular.woff);
}
@font-face {
  font-family: "Noto sans";
  src: url(fonts/NotoSans.woff);
}
@font-face {
  font-family: "Inter";
  src: url(fonts/Inter-Regular.woff);
}
@font-face {
  font-family: "Avenir";
  src: url(fonts/Avenir\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Graphik-semibold";
  src: url(fonts/Graphik-Semibold.ttf) format("truetype");
}
body {
    width: 100%;
    height: 3058px;
    margin: 0;
}
.top-navigation {
    width: 100%;
    height: 40px;
    background-color: #8C1E42;
}
.navigation-section {
    width: 100%;
    height: 81px;
    background-color: #ffffff;
}
.banner-section {
    width: 100%;
    height: 711px;
    background-image: url(images/portrait.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.about-us-section {
    width: 100%;
    height: 629px;
}
.bar-section {
    width: 100%;
    height: 300px;
}
.pillow-types-section {
    width: 100%;
    height: 694px;
}
.footer-section {
    width: 100%;
    height: 611px;
    background-image: url(images/footer-bg1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}   
.top-navigation-container {
    width: 85%;
    height: 24px;
    position: absolute;
    top: 8px;
    margin-left: 7.5%;
    display: flex;
}
.top-navigation-container > .store {
    text-align: left;
    width: 28%;
}
.top-navigation-container > .store > span{
    height: 19px;
    color: #ffffff;
    vertical-align: super;
    font-family: Noto sans;
    font-size: 14px;
}
.top-navigation-container > .info{
    width: 44%;
    vertical-align: middle;
}
.top-navigation-container > .info span {
    text-align: center;
    color: #ffffff;
    vertical-align: super;
    font-size: 13.5px;
    font-family: Noto sans;
    font-size: 14px;
}
.top-navigation-container > .cta {
    text-align: right;
     width: 28%;
     color: #ffffff;
     font-family: Noto sans;
     font-size: 14px;
}
.top-navigation-container > .cta > span {
    vertical-align: super;
}
.navigation-section-container{
    width: 85%;
    height: 81px;
    position: absolute;
    margin-left: 7.5%;
    display: flex;
}
.navigation-section-container > .logo{
    width: 50%;
    text-align: left;
    padding-top: 1%;
}
.navigation-section-container > .nav-container{
    width: 50%;
    display: flex;
}
.nav-container >.lists {
   width: 90%;
}
.nav-container >.lists > .lists-nav-bar {
   list-style-type: none;
}
.nav-container >.lists > .lists-nav-bar > li {
    float: left;
}
.nav-container >.lists > .lists-nav-bar > li a {
    font-family: Graphik;
    display: block;
    font-size: 13px;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    margin: 10px 15px;
    text-decoration: none;
}
.nav-container > .search-bar {
   width: 10%; 
}
.nav-container > .search-bar > img {
margin-top: 20px;
}
.banner-section > .portrait {
    padding-top: 207px;
    margin-left: 92px;
    width: 670px;
    height: 193px;
    line-height: 150%;
}
.banner-section > .portrait .text1 {
   font-family: Graphik;
   font-size: 26px;
   margin: 0%;
}
.banner-section > .portrait .text2 {
     color: #8C1C41;
     font-family: Graphik;
     font-size: 33px;
}
.banner-section > .portrait .text3 {
     color: #000000;
     font-family: Inter;
     font-size: 16px;
     width: 427px;
     height: 56px;
}
.banner-section > .portrait button{
    color: #ffffff;
    font-size: 16px;
    background-color: #8C1E42;
    width: 125px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
    font-family: Graphik;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}
.banner-section > .banner-icon {
    float: right;
    padding-top: 140px;
    width: 3%;
}
.banner-icon > .icon-1 {
    background-color: #ffffff;
    padding: 21%;
    margin-bottom: 32%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
}
.banner-icon > .icon-2 {
    background-color: #ffffff;
    padding: 21%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
}
.about-us-section-container{
    width: 85%;
    height: 85%;
    display: flex;
    margin-top: 7.5%;
    margin-left: 7.5%;
}
.about-us-section > .flower-img {
    background-image: url(images/flower.png);
    background-repeat: no-repeat;
    height: 35%;
    background-size: 100% 100%;
    width: 7%;
    bottom: 15%;
    float: right;
    position: relative;
    opacity: 25%;
}
.about-us-section-container > .about-us-image {
    width: 60%;
    background-image: url('images/image.jpg');
    border-top-right-radius: 100px;
    border-bottom-left-radius: 118px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}


.about-us-section-container > .about-us {
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
}
.about-us > .about-us-text1 {
    font-size: 20px;
    font-family: Avenir;
    border-left: solid 3px;
    border-color: #F99F3F;
    padding-left: 1%;
}
.about-us > .about-us-text2 {
    font-size: 34px;
    font-family: Graphik;
    font-weight: bold;
    width: max-content;
}
.about-us > .about-us-text3 {
    font-size: 16px;
    font-family: Inter;
}
.about-us > .about-us-text4 {
    font-size: 16px;
    font-family: Inter;
}
.about-us >  button{
    color: #ffffff;
    font-size: 16px;
    background-color: #8C1E42;
    width: 125px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    font-family: Graphik;
}
.bar-section-container {
    width: 85%;
    height: 278px;
    display: flex;
    margin-top: 1%;
    margin-left: 7.5%;
    position: absolute;
    background-color: #FFF6ED;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    box-shadow: 4px 8px 1px 2px #8C1E42;
}
.bar-section-container > .adequate-comfort {
    width: 33.3%;

}
.ac-image > img{
    width: 15%;
    height: 15%;
    margin-left: 40%;
    margin-top: 11%;
}
.adequate-comfort > .ac {
    text-align: center;
    font-size: 18px;
    font-family: Graphik;
    font-weight: bold;
}
.adequate-comfort > .ac-content {
    text-align: center;
    font-size: 14px;
    font-family: Avenir;
    padding: 0 14% 0 14%;
    line-height: 1.2;
}
.bar-section-container > .better-durability {
    width: 33.3%;
}
.bd-image > img{
    margin-left: 40%;
    margin-top: 13%;
    width: 12%;
}
.better-durability > .bd {
    text-align: center;
    font-size: 18px;
    font-family: Graphik;
    font-weight: bold;
}
.better-durability > .bd-content {
    text-align: center;
    font-size: 14px;
    font-family: Avenir;
    padding: 0 14% 0 14%;
    line-height: 1.2;
}
.bar-section-container > .opc {
    width: 33.3%;
}
.opc-image > img {
    margin-left: 40%;
    margin-top: 15%;
    width: 14%;
}
.opc > .opc2 {
    text-align: center;
    font-size: 18px;
    font-family: Graphik;
    font-weight: bold;
}
.opc > .opc-content {
    text-align: center;
    font-size: 14px;
    font-family: Avenir;
    padding: 0 14% 0 14%;
    line-height: 1.2;
}
.pillow-types-section > .pts-section {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 3%;
}
.pts-section > .pts-container > .top {
    border-left: solid #F99F3F;
    padding-left: 0.4%;
    font-family: Avenir;
    font-size: 20px;
    margin-bottom: 1%;
}
.pts-container > .top-heading {
    font-size: 34px;
    font-family: Graphik;
    font-weight: bold;
    margin: 0;
}
.pts-container > .top-content {
    font-size: 14px;
    font-family: Inter;
}
.types-of-pillow {
    width: 85%;
    display: flex;
    height: 75%;
    position: absolute;
    margin-top: 3%;
}
.types-of-pillow > .recron {
    width: 30%;
    /* margin-right: 4%; */
    box-shadow: 0px 7px 7px 0px rgba(1, 1, 1, 0.1);
    border-top-right-radius: 10%;
    border-bottom-left-radius: 8%;
}
.recron-img {
    background-image: url(images/recron.png);
    width: 100%;
    background-color: #FEF0E5;
    height: 55%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.recron-img > .recron-tag {
    width: 50%;
    height: 15%;
}
.recron-tag > img {
    width: 100%;
}
.recron > p {
    font-size: 14px;
    font-family: Inter;
    font-weight: 300;
    padding: 0 10% 0 10%;
    text-align: justify;
}
.recron > button {
    color: #ffffff;
    font-size: 16px;
    background-color: #8C1E42;
    width: 125px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    float: right;
    margin-top: 12%;
    margin-right: 0;
    font-family: Graphik;
}
.types-of-pillow > .latex {
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 0px 7px 7px 0px rgba(1, 1, 1, 0.1);
    border-top-right-radius: 10%;
    border-bottom-left-radius: 8%;
}
.latex-img {
    background-image: url(images/latex.png);
    width: 100%;
    background-color: #FEF0E5;
    height: 55%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.latex-img > .latex-tag {
    width: 50%;
    height: 15%;
}
.latex-tag > img {
    width: 100%;
}
.latex > p {
    font-size: 14px;
    font-family: Inter;
    font-weight: 300;
    padding: 0 10% 0 10%;
    text-align: justify;
}
.latex > button {
    color: #ffffff;
    font-size: 16px;
    background-color: #8C1E42;
    width: 125px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    float: right;
    margin-top: 7%;
    margin-right: 0;
    font-family: Graphik;
}
.types-of-pillow > .memory-foam {
    width: 30%;
    /* margin-right: 4%; */
    box-shadow: 0px 7px 7px 0px rgba(1, 1, 1, 0.1);
    border-top-right-radius: 10%;
    border-bottom-left-radius: 8%;
}
.memory-foam-img {
    background-image: url(images/memory-foam.png);
    width: 100%;
    background-color: #FEF0E5;
    height: 55%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.memory-foam-img > .memory-foam-tag {
    width: 67%;
    bottom: 3%;
    position: relative;
}
.memory-foam-tag > img {
    width: 100%;
}
.memory-foam > p {
    font-size: 14px;
    font-family: Inter;
    font-weight: 300;
    padding: 0 10% 0 10%;
    text-align: justify;
}
.memory-foam > button {
    color: #ffffff;
    font-size: 16px;
    background-color: #8C1E42;
    width: 125px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    float: right;
    font-family: Graphik;
}
.footer-section > .footer-bg{
    width: 100%;
    height: 100%;
    background-image: url(images/footer-bg2.png);
    background-repeat: no-repeat;
    background-position: bottom;
} 
.footer-bg > .footer-container {
    height: 60%;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 18%;
    position: absolute;
}
.footer-container > .container1 {
    width: 100%;
    display: flex;
    position: relative;
    height: 80%;
}
.container1 > .content1 {
    width: 25%;
}
.content1 > .white-kopema-logo{
    width: 70%;
}
.content1 > .white-kopema-logo > img{
    width: 100%;
    height: 100%;
    right: 8%;
    position: relative;
}
.content1 > .white-logo {
    font-size: 12.5px;
    font-family: Inter;
    color: #ffffff;
    margin: 0;
    width: 70%;
    line-height: 1.5;
}
.content1 > p {
    font-size: 14px;
    font-family: Inter;
    color: #ffffff;
    width: 65%;
}
.container1 > .content2 {
     width: 20%;
    position: relative;
    right: 5px;
}
.content2 > p {
    font-size: 16px;
    font-family: Graphik;
    color: #ffffff;
}
.content2 > ul {
    list-style-image: url(images/layer-1.svg);
    font-size: 13px;
    font-family: Inter;
    color: #ffffff;
    line-height: 3;
    padding: 0;
}
.container1 > .content3 {
     width: 15%;
    
}
.content3 > p {
    font-size: 16px;
    font-family: Graphik;
    color: #ffffff;
     right: 12px;
    position: relative;
}
.content3 > ul {
    list-style-image: url("images/layer-1.svg");
    font-size: 14px;
    font-family: Inter;
    color: #ffffff;
    line-height: 2;
    padding: 0;
}
.container1 > .content4 {
     width: 17%;
     left: 30px;
    position: relative;
}
.content4 > p {
    font-size: 16px;
    font-family: Graphik;
    color: #ffffff;
    position: relative;
    right: 13px;
}
.content4 > ul {
    list-style-image: url("images/layer-1.svg");
    font-size: 14px;
    font-family: Inter;
    color: #ffffff;
    padding: 0;
    line-height: 2.5;
}
.container1 > .content5 {
     width: 25%;
}
.content5 > .content5-heading {
    font-size: 16px;
    font-family: Graphik;
    color: #ffffff;
}
.content5-paragraph {
    font-size: 14px;
    font-family: Inter;
    color: #ffffff;
    text-align: justify;
    margin-top: 24px;
    line-height: 1.5;
}
.news-letter {
    display: flex;
    position: relative;
    border: solid 1px;
    border-color: #ffffff;
    height: 14%;
}
.news-letter > .letter{
    font-size: 14px;
    font-family: Inter;
    color: #ffffff;
    padding-top: 12px;
    padding-left: 8px;
    width: 156px;
}
.news-letter > .letter-vector{
    padding-left: 80px;
    padding-top: 9px;
   
}
.icons {
   padding-top: 22px;
}
.footer-container > .container2 {
    margin-top: 25px;
    border-top: solid 1px;
    border-color: #ffffff;
    padding-top: 10px;
}
.container2 > .footer-part1 {
    float: left;
    color: #ffffff;
    font-size: 12px;
    font-family: Inter;
}
.container2 > .footer-part2 {
    float: right;
    color: #ffffff;
    font-size: 12px;
    font-family: Inter;
}